body{
    display: flex;
}

.game_container{
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;

}
.border_left{
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.border_right{
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: 2;
    left: 580px;
}

.border_top{
    width: 660px;
    height: 50px;
    position: absolute;
    background-color: white;
    z-index: 2;
    top: -50px;
}


.sky{
    background-image: url("images/fb-game-background.png");
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground{
    background-image: url("images/bottom-background.png");
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: 1;
}

.bird{
    background-image: url("images/flappy-bird.png");
    position: absolute;
    height: 45px;
    width: 60px;
}

.obstacle{
    background-image: url("images/flappybird-pipe.png");
    width: 60px;
    height: 300px;
    position: absolute;
}

.top_obstacle{
    background-image: url("images/flappybird-pipe.png");
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}